<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xk.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CircleAndHeartActivityView" />
        <activity android:name=".activity.LeafProgressActivityView" />
        <activity android:name=".activity.MagicCircleActivityView" />
        <activity android:name=".activity.SpiderActivityView" />
        <activity android:name=".activity.InstrumentActivityView" />
        <activity android:name=".activity.RoationActivityView" />
        <activity android:name=".activity.SearchActivityView" />
        <activity android:name=".activity.GalleryActivityView" />
        <activity android:name=".activity.ZoomImageViewPagerActivityView" />
        <activity android:name=".activity.FoldingLayoutActivityView" />
        <activity android:name=".activity.EventDispatchActivityView" />
        <activity android:name=".activity.DemoActivityView" />
        <activity android:name=".activity.RevealDrawableActivityView" />
        <activity android:name=".activity.QQBubbleActivityView"></activity>
        <activity android:name=".activity.HotLabelActivityView"></activity>
        <activity android:name=".activity.StrategyAnimationActivity"></activity>
        <activity android:name=".activity.AnimatorFrameActivity"></activity>
    </application>

</manifest>